<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
	</sectionGroup>
	<section name="appSecrets" type="Dowdian.Modules.DnnVaultApi.Models.LocalSecretsSection" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc"/>
    <pages pageBaseType="DotNetNuke.Web.Mvc.Framework.DnnWebViewPage">
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="DotNetNuke.Web.Mvc.Helpers"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <configProtectedData>
	<providers>
	  <add name="CustomProvider"
         thumbprint="F40AF0C8DDB44E2180899DD3C0CB0B0DA98327BB"
         storeLocation="LocalMachine"
         type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.1.0, Culture=neutral, PublicKeyToken=455a6e7bdbdc9023" />
	</providers>
  </configProtectedData>
  <!-- Put the real good shit here -->
  <appSecrets>
	<secrets>
	  <add key="Dowdian.Modules.DnnVaultApi.ExchangeThumbprint" value="[Your Exchange Key Certificate Thumbprint]" />
	  <add key="Dowdian.Modules.DnnVaultApi.AzureTenantId" value="[Your Azure Directory (tenant) ID]" />
	  <add key="Dowdian.Modules.DnnVaultApi.AzureClientApplicationId" value="[Your Azure Application (client) ID]" />
	  <add key="Dowdian.Modules.DnnVaultApi.SignatureThumbprint" value="[Your Signature Key Certificate Thumbprint]" />
	  <add key="Dowdian.Modules.DnnVaultApi.AzureKeyVaultUri" value="[Your Vault URI]" />
	</secrets>
  </appSecrets>
</configuration>