<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
	</sectionGroup>
	<section name="appSecrets" type="Dowdian.Modules.DnnVaultApi.Models.SecretsSection" requirePermission="false" />
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc"/>
    <pages pageBaseType="DotNetNuke.Web.Mvc.Framework.DnnWebViewPage">
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="DotNetNuke.Web.Mvc.Helpers"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <configProtectedData>
	<providers>
	  <add name="CustomProvider"
     thumbprint="F40AF0C8DDB44E2180899DD3C0CB0B0DA98327BB"
     storeLocation="LocalMachine"
     type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.1.0, Culture=neutral, PublicKeyToken=455a6e7bdbdc9023" />
	</providers>
  </configProtectedData>
  <!-- Put the real good shit here -->
  <appSecrets configProtectionProvider="CustomProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>rsaKey</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>m5IR2VdE0hTmXLsbIWAdmCHdHx3hcvEd8kcTO+5DtHafeK1HFNPRUgVj1FxPMB+qh3DT9PrEhzJBhvdzHT1sK/xEujJjZ+gzE7J1Sb9sFNKjHK3+L7ikvvcjpEusH/tJsRX6aV9WfyvaC7gk6keAUAwMmCNM7S6j6nbAX3sIO29tJJGew697pDahhIfMJIY8ZhQvLbP/eNfJPQybsjbBxbnV0Y4h+8QtVKVKOUEFl22isU0A89UQUvEj38PVI5QujUeWCuNgWxFtARU40vnDGXA5dushZB8FKQ8GOyVU+pSMfJfGP2aS7n9gJS8xkHi1wqygdUn98Cxt9icjalK9DmrpCO0iFWlcdRZz5VV1Z6Z2bR8MeNPIq/c8hy7NnpWBOHNQmKl7ZoXtOULxMQhJSXKrskDhe45AsgyeHLv9pu8kXnuWfRALdSrYmqqDTI9gYn6Uq0NzN/G5ehIAXH4xGxwiCoDmxCv47O2IZke+MZqtvMZUPtaNEsr5agBJg9k1qXKrAarK+8OKAbe057MFRAKesTgjNO83tOrPTjuz+jwAawDxwt9maf59AEUjpTI0fI2ovYAx0cK9eepe+Gt9EYZDN7/kldy2Dwp4NbEmYmFhpfquaCNTEVAYIiNl0fOIp36fW35vgAPLk0iIzNf47Js0RVZNpw4zVDdPqgbYn1o=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Ftgw9hbjPaPSbIkzBAC8qowXQ4ubgmTRTuev7TCO7Qxxomu6wO/tUxBTOT4b4Wvln59i3UZwklugHLuVDzS1uURsr5eBomk+pG+wDc0MGv0VyHbqC22eCjvOg3g2cpZDPSl+870JzBKYeCQ6MbMdgYcJ0JHCO8kD9IbU3UoEOWU2qYCegyspV6qFbo2s5AsdrpZlLnWdBd7vvaR+6CueCBxpV1GJEQl8IcnZjdgUXW8yfFa/ZZ3aOJI44huuGDNUXJTPy1kf3iJgOCgqDwBx6YgRAOeugcy5azYR7czbTSxjLkNTadusPcdbXFmGZhxK54AMKT0CsODyEO59d5Ce4bkwiF/ESAKfNRjDZIjgTH2IP66bWfmv3ccuglJO8hlCYDUQUyIETPp4qS7TSZRee94A0x/XuPgVn1faUc5RQoZegiBKFYzJKJnAFL2m5DXwdiaXt3jps9OXs/4zTm/KQtM86ddis0f77SXQ1m+TzbZ1ey90PGRj+7aWKxaF8WCKPSVuGBIz6H/yiyUJB7DFy52LL8dR2jemmqPqCCNrKLZRzPPvKpBbASTTcV1SJHKkayA4L4goSIMFGxErensg/hSW2gExKgeGEdqq7LBF0PdnuLCWx0TbrsrVA+e4B9cHKKxTwHs+Qq7A/B89L0yz8lygpYjy2EZadjep9zklbFs=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSecrets>
</configuration>